@font-face{
font-family: BCSans;
font-style: normal;
src: url('BCSans-Regular.woff2') format('woff2'), /* Optimized for very modern browsers */ 
url('BCSans-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face{
font-family: BCSans;
font-style: italic;
src: url('BCSans-Italic.woff2') format('woff2'), /* Optimized for very modern browsers */ 
url('BCSans-Italic.woff') format('woff'); /* Modern Browsers */
}
@font-face{
font-family: BCSans;
font-weight: 700;
src: url('BCSans-Bold.woff2') format('woff2'), /* Optimized for very modern browsers */ 
url('BCSans-Bold.woff') format('woff'); /* Modern Browsers */
}
@font-face{
font-family: BCSans;
font-style: italic;
font-weight: 700;
src: url('BCSans-BoldItalic.woff2') format('woff2'), /* Optimized for very modern browsers */
url('BCSans-BoldItalic.woff') format('woff'); /* Modern Browsers */
}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: BCSans;
}



.content-wrapper,
.right-side {
  background-color: black;
}

.sidebar-toggle {
  padding-left: 0px !important;
}




.box-header {
   font-weight: bold;
   text-align:center;
}


.downloadHandler_alldata{
	background-color:#1a3f72;
	color:white;
	margin-left: 10px;
}


.img {
    display: block;
    width: 100%;
    height: auto;
	max-width:100%;
}


body {  min-width:700px; }

.main-header {
  background-color: #003366;
  border-bottom: 2px solid #fcba19;
  padding: 0 65px 0 65px;
  color: #fff;
  display: flex;
  height: 65px;
  top: 0;
  position: fixed;
  width: 100%;
}

.main-header .h4 {
  font-weight: normal;  /* 400 */
  margin: 5px 5px 0 18px;
}

.main-header .banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 10px 0 0;
  /* border-style: dotted;
  border-width: 1px;
  border-color: lightgrey; */
}



/*
  These are sample media queries only. Media queries are quite subjective
  but, in general, should be made for the three different classes of screen
  size: phone, tablet, full. 
*/



.skin-blue .main-header .navbar {
    background-color: #003366;
}

.skin-blue .main-header .logo {
    background-color: #003366;
}



/* logo */
.skin-blue .sidebar-toggle:hover {
  background-color: #003366;
  
}

/* logo */
.skin-blue .main-header .logo:hover {
  background-color: #003366;

}

/* main sidebar */
.skin-blue .main-sidebar {
  background-color: #003366;
}






